<html>
    <head>
        <title>Personal WEB - Contact Form</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
        <nav>
            <div class="left-side">
                <img src="/public/img/logo2.png" alt="">
                
                <ul>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="right-side">
                <a href="/contact">Contact Me</a>
            </div>

        </nav>
        <form action="" style="width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        background-color: rgb(78, 230, 230); 
        padding: 10px;
        border-radius: 5px;">
        <div style="margin-bottom: 10px;">
            <label for="input-name" style="font-size: 20px; font-weight: 500;">Name</label>
            <input id="input-name" type="text" 
            style="width: 100%;
            background-color: rgb(214, 207, 207);
            border: 1px solid rgb(158, 157, 156);
            border-radius: 8px;
            padding: 5px;
            margin-top: 5px;
            ">
        </div>
        <div style="margin-bottom: 10px;">
            <label for="input-email" style="font-size: 20px; font-weight: 500;">Email</label>
            <input type="email " id="input-email" style="width: 100%;
            background-color: rgb(214, 207, 207);
            border: 1px solid rgb(158, 157, 156);
            border-radius: 8px;
            padding: 5px;
            margin-top: 5px;
            ">
        </div>
        <div style="margin-bottom: 10px;">
        <label for="input-phone" style="font-size: 20px; font-weight: 500;">Number Phone</label>
        <input type="text" id="input-phone" style="width: 100%;
        background-color: rgb(214, 207, 207);
        border: 1px solid rgb(158, 157, 156);
        border-radius: 8px;
        padding: 5px;
        margin-top: 5px;">
        </div>
        <div style="margin-bottom: 10px;">
        <label for="input-subject" style="font-size: 20px; font-weight: 500;">Subject</label>
        <select name="" id="input-subject" style="width: 100%; padding: 5px; border-radius: 8px; margin-top: 5px;">
            <option value="Lets Colaboration">Let's Colaboration</option>
            <option value="Lets Talk">Let's Talk</option>
            <option value="Help to create some project">Help to create some project</option>
            <option value="im Hiring">I'm Hiring</option>
        </select>
        </div>
        <div style="margin-bottom: 10px;">
        <label for="input-message" style="font-size: 20px; font-weight: 500;" >Your Message</label>
        <textarea name="" id="input-message" cols="20" rows="5" style="width: 100%; 
        background-color: rgb(214, 207, 207);
        border: 1px solid rgb(158, 157, 156); 
        border-radius: 10px;
        padding: 5px;" ></textarea>
        </div>
        <div style="margin-bottom: 10px;">
            <label for="" style="font-size: 20px; font-weight: 500;" >Gender</label>
            <input type="checkbox" id="male" value="Male" >
            <Label for="Male">Male</Label>
            <input type="checkbox" id="female" value="female" >
            <label for="female">Female</label>
        </div>
        <button style="background-color: rgb(247, 127, 41);
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-weight: 700;
        color: whitesmoke;
        cursor: pointer;" onclick="formSubmit()" type="button">Submit</button>
    </form>
   <script src="script.js"></script>
    </body>
</html>